.wrapper{
  /*display: flex;*/
  display: grid;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  align-items: stretch;
}

#sidebar{
  min-width: 250px;
  max-width: 250px;
  float: left;
  height: 100%;
  background: #000;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
   z-index: 999;
}

#sidebar.active{
  margin-left: -250px;
}

#sidebar .sidebar-header{
  padding: 7px;
  background: rgba(0,0,0,0.3); /*#343A40;*/
}

#sidebar ul.components{
  padding: 50px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p{
  color: #fff;
  padding: 10px;
}

#sidebar ul li a{
  color: #fff;
}

#sidebar ul li a{
  padding: 20px;
  font-size: 1.1em; 
  display: block;
}

#sidebar ul li a:hover {
  color: #000;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
